
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="loginbox">
    <h2 class="tex">Login</h2>

    <form class="login" action="/User/Index" method="post">
        <label for="Email">Email</label><br />
        <input type="text" required name="email" /><br />
        <label for="Password">Adgangskode</label><br />
        <input type="password" required name="password" /><br />
        <button type="submit">Login</button>
        <a href="/User/Register">Register</a>
    </form>
</div>