
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="loginbox">
    <h2 class="tex">Login</h2>

    <form class="login" method="post">
        <label for="Username">Brugernavn</label><br />
        <input type="text" name="Username" id="Username" /><br />
        <label for="Password">Adgangskode</label><br />
        <input type="password" name="Password" id="Password" /><br />
        <button type="submit">Login</button>
    </form>
</div>