html {
    overflow-y: scroll;
}

a {
    text-decoration: none !important;
    color: initial;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Dosis', sans-serif;
}

#wrapper {
    margin-top: 61px;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
}

header {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    border-bottom: 1px solid #d75024;
    z-index: 9999;
    font-size: 1em;
}

header::after {
    clear: both;
    display: block;
    content: "";
}

#companyname {
    margin: 10px 0 0 15px;
    float: left;
    font-weight: 100;
}

.container {
    padding: 20px;
}

nav {
    float: right;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;

            a {
                display: block;
                padding: 20px;
            }
        }
    }
}

a:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}


i {
    margin-right: 5px;
}

.products {
    display: inline-block;
    vertical-align: top;
    width: 180px;
}

footer {
    width: 100%;
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
}

select {
    display: block !important;
    float: right !important;
}

#contactus {
    max-width: 400px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #d75024;
    border-radius: 4px;
    color: white;

    input {
        display: block;
        width: 80%;
    }
}