@using Repository.Models;
@model List<OrderDetailsRela>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h1> Ordre Detaljer </h1>

<table>
    <thead>
        <tr>
            <td>
                 Produkt Navn 
            </td>
            <td>
                Pris
            </td>
            <td>
                Antal
            </td>
        </tr>
    </thead>
    <tbody>
        @{
            int total = 0;
        }
        @foreach (var details in Model)
        {
            total += details.Price * details.Quantity;

            <tr>
                <td> @details.ProductName</td>
                <td> @details.Price</td>
                <td> @details.Quantity</td>
            </tr>
        }
        
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td> Total Pris: </td>
            <td> @total DKK</td>
            

        </tr>
    </tfoot>
</table>