<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="~/Css/CMS/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Css/mainstyle.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
	<script type="text/template" id="Template-cartItem">
		<div class="cartContent">
			<span>{{Name}}</span>
			<input onchange="updateCart({{ID}},this)" min="1" type="number" step="1" value="{{Amount}}"/>
			<span class="price">{{Price}}kr.</span>
			<button type="button" onclick="removeCart({{ID}},this)">X</button>
		</div>
	</script>
	<script type="text/template" id="Template-TotalPrice">
		<div>
            <span id="totalPrice">I alt: {{Total}}kr.</span>
			<a href="/Cart/">Køb nu</a>
		</div>
	</script>
	@RenderSection("Templates", false)
</head>
<body>
  <header>
      <a href="/Home/Index"><h1 id="companyname">Læs webudvikling</h1></a>
    <nav>
      <ul>
          <li><a href="/Home/Index"><i class="fa fa-home"></i>Forside</a></li>
        <li id="cartHolder">
            <a class="cartbutton position-relative">
                <span id="counter"></span>
                <i class="fa fa-shopping-basket"></i>Kurv
            </a>
			<ul id="Cart">
			</ul>
		</li>
          <li><a href="/Home/Contact/"><i class="fa fa-phone"></i>Kontakt</a></li>
          @if (Session["UserID"] != null)
          {
              <li><a href="/User/Logout"><i class="fa fa-user"></i>Logout</a></li>
          }
          else
          {
              <li><a href="/User/Index"><i class="fa fa-user"></i>Login</a></li>
          }
      </ul>
    </nav>
  </header>
    <div id="wrapper">
        @RenderBody()
    </div>
    <footer>

    </footer>
    <script src="~/JavaScripts/jquery-3.3.1.min.js"></script>
	<script src="~/JavaScripts/Cart.js"></script>
</body>
</html>
