
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form id="contactus">
        <label>Navn:</label> <br />
        <input type="text" /> <br />
        <label>Email:</label> <br />
        <input type="text" /> <br />
        <label>Odrenummer:</label> <br />
        <input type="text" /> <br />
        <label>Emne:</label> <br />
        <input type="text" /> <br />
        <label>Besked:</label> <br />
        <textarea></textarea> <br />
    </form>
