@using Repository.Models
@model List<ProductsTable>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<img src="~/Images/Banner.jpg" />
<section class="container">
    <div class="row">
        <h2 class="col-lg-11">Velkommen til læs webudvikling</h2>
            <select>
                <option>Front-end</option>
                <option>Back-end</option>
            </select>
    </div>
</section>
<section class="container">
    <div class="row">
        @foreach (ProductsTable pf in Model)
        {
            <div class="col-lg-4 col-md-4 products">
                <a href="/Product/Details/@pf.ID">
                    <img src="~/Images/Products/@pf.Image" />
                    <h2>@pf.ProductName</h2>
                    <p>@pf.Price DKK</p>
                    <p>@pf.Description.Substring(0, 150)</p>
                </a>
            </div>
        }
    </div>
</section>
