@using BogWebShop.ViewModels;
@model AuthorVM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>@Model.Products.ProductName</h2>
            <p>af: @Model.Authors.Name</p>
            <p>@Model.Products.Description</p>
        </div>
        <div class="col-lg-6">
            <img src="~/Images/Products/@Model.Products.Image" />
            <button type="button" onclick="addCart(@Model.Products.ID)">Tilføj til kurv</button>
        </div>
    </div>
</div>
