@using Repository.Models
@model ProductsTable
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@Model.ProductName</h2>
<button type="button" onclick="addCart(@Model.ID)">Tilføj til kurv</button>

